- var socials = ['fb', 'vk', 'tw'];
- var links = ['Главная', 'Каталог'];
- var sitemap = ['Карта проезда', 'История заказов', 'Корзина'];
- var nav = ['Планшеты', 'Мобильные телефоны', 'Mp3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника'];

- var filters = ['Флагманы', 'Бюджетная линейка'];