include ../sections/main-header
include ../components/nav
.container
    include ../components/breadcrumbs
    include ../components/page-heading
    include ../sections/catalog
    include ../sections/info