header.layout-header
    .container
        +socials('socials_header')
        adress.contacts
            span.contacts-adress
                span.contacts-adress__icon
                span.contacts-adress__text ул. Маяковская 6, офис 17
            span.contacts-phone
                span.contacts-phone__icon
                span.contacts-phone__text +7 (921) 123-12-13

